<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto"><p class="lead">Electronics and Communication Engineer, graduated at 2017. Working on myself everyday. At the present moment, I am working as a biomedical engineer. Just a site that I choose to share thoughts.</p></div>
            <div class="col-lg-4 mr-auto"><p class="lead">What do you think is more important? A destination or a Journey ??? For me I believe in journey. Life is not as complicated as we make of it, it's just a journey. So cherish every moment while you can.</p></div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <p>Want to know more ?? Visit my blog!</p>
            <a class="btn btn-xl btn-outline-light" href="#">
                <i class="fas fa-leaf mr-2"></i>
                Blog
            </a>
        </div>
    </div>
</section>