<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{{ url_for('static', filename='assets/img/portfolio/projects.png')}}" alt="" />
                </div>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{{ url_for('static', filename='assets/img/portfolio/hobbies.png')}}" alt="" />
                </div>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{{ url_for('static', filename='assets/img/portfolio/blog2.png')}}" alt="" />
                </div>
            </div>
            
        </div>
    </div>
</section>


  
<!-- Portfolio Modals-->
<!-- Portfolio Modal 1-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Projects</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-5">Being a python developer, using django/ flask and bootstrap, I had done the following projects.      On the way to build a strong portfolio.</p>
                            <div class="col-md-6 mx-auto">
                                <ul class="list-group ">
                                    <li class="list-group-item list-group-item-light float-left">&bull; Web Scraping</li>
                                    <li class="list-group-item list-group-item-light float-left">&bull; Data Cleaning and Validation</li>
                                    <li class="list-group-item list-group-item-light">&bull; Portfolio Websites</li>
                                    <li class="list-group-item list-group-item-light">&bull; Prototype of Ecommerce Site</li>
                                </ul>
                                <br>
                            </div>
                            <hr>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Experience</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <p class="mb-5">Graduated as an Electronics and Communication Engineer on 2017, I get to explore a variety of fields.</p>
                            <div class=" mx-auto">
                                <ul class="list-group ">
                                    <li class="list-group-item list-group-item-light float-left">&bull; 01/2020 to Present -- East West Concern Pvt. Ltd. -- Biomedical Engineer</li>
                                    <li class="list-group-item list-group-item-light">&bull; 01/2020 to 07/2020 -- Pro-mech Minds -- Python Developer(Part-time)</li>
                                    <li class="list-group-item list-group-item-light">&bull; 09/2019 -- Web Weekend KTM -- Volunteering</li>
                                    <li class="list-group-item list-group-item-light float-left">&bull; 09/2017 to 12/2019 -- Futani Technology Pvt. Ltd.--Robotics Trainer</li>
                                </ul>
                                <br>
                                </div>
                                <hr>
                                <br>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Certifications</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-5">I have listed the list of certificates that I have achieved.</p>
                            <div>
                                <ul class="list-group ">
                                    <li class="list-group-item list-group-item-light float-left">&bull; Machine Learning by Stanford University (Andrew Ng) Certificate</li>
                                    <li class="list-group-item list-group-item-light float-left">&bull; Python/ Django Training-- Broadways Infosys Nepal</li>
                                    <li class="list-group-item list-group-item-light">&bull; GSM related training --  Nepal Telecom</li>
                                </ul>
                                <br>
                                
                            </div>
                            <br>
                            <br>
                            <button class="btn btn-primary" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 2-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal2Label">hobbies & interests</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-5">Though working as a biomedical engineer, I am interested in various fields. My hobbies include hiking, listening to music etc. Interested in the following topics : </p>
                            <div class=" mx-auto">
                                <ul class="list-group ">
                                    <li class="list-group-item list-group-item-light">&bull; Anime fan</li>
                                    <li class="list-group-item list-group-item-light">&bull; Music lover</li>
                                    <li class="list-group-item list-group-item-light">&bull; Hiking & Adventure</li>
                                    <li class="list-group-item list-group-item-light float-left">&bull; Data Science Enthusiast</li>
                                    <li class="list-group-item list-group-item-light float-left">&bull; Aritificial Intelligence & Machine Learning Enthusiast</li>
                                </ul>
                                <br>
                                </div>
                                
                                <br>
                            <button class="btn btn-primary" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 3-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal3Label">Blog</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="{{ url_for('static', filename='assets/img/portfolio/blog2.png')}}" alt="" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-5">If you would like to know more about my adventure and thoughts, kindly visit the blog that I have created.</p>
                            <button class="btn btn-secondary" data-dismiss="modal">
                                <a href="#">Visit blog</a>
                            </button>
                            <button class="btn btn-primary" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
