{% extends 'index.html' %}


{% block navbar %}
    {% include 'partials/navbar.html'  %}
{% endblock navbar %}


{% block header %}
    {% include 'partials/header.html'  %}
{% endblock header %}

{% block portfolio %}
    {% include 'partials/portfolio.html'  %}
{% endblock portfolio %}

{% block proto %}
    {% include 'partials/proto.html'  %}
{% endblock proto %}

{% block about %}
    {% include 'partials/about.html'  %}
{% endblock about %}

{% block contact %}
    {% include 'partials/contact2.html'  %}
{% endblock contact %}

{% block footer %}
    {% include 'partials/footer.html'  %}
{% endblock footer %}
